<h1> HELLO! </h1>
<br> {{#each restaurants}}
<div>
    <a href="/restaurants/{{this._id}}">{{this.title}}</a>

    {{!--
    <div>{{this.location}}</div> --}}
    <br>
</div>

{{/each}}
<div class="addRestaurant">
    <a href="restaurants/new/">
        <button>Add new Restaurant</button>
    </a>
</div>