<div>
    <form action="/restaurants" method="POST">
        Restaurant
        <input type="text" name="title" placeholder="Name of Restaurant">
        <input type="text" name="location" placeholder="Location">
        <button type="submit">Add to Restaurants</button>
    </form>
</div>